
#Title {
    font-size:40px;
    color:Brown;
}
#info{
    font-size:30px;
    display:flex;
    justify-content: center;
}
.Chance{
    display: flex;
    justify-content:space-between;

}
.navbar {
    border:20px solid orange;
    padding:5px;
        display:flex;
    justify-content: space-around;
}
.search{
     border:20px solid blue;
    padding:5px;
    display:flex;
    justify-content:space-around;
}
.hunt{
    border:4px dashed orange;
    padding:5px;
    display:flex;
    justify-content:space-around;
}
.image{
    width:100px;
    height:100px;
     display:flex;
    justify-content:center;
 
}
#title
{
color:Darkblue;
font-size:30px;
border:10px dashed white;
}
.homeimage{
    width:50%;
    height:50%;
display:flex;
justify-content:center;

}

#Text{
    color:blue;
    font-size:30px;
    border: 10px solid red;
    display:flex;
    justify-content:center;
}

#info{
    color:orange;
}

.pictures {
    display:flex;
    justify-content:space-between;
    width:40%;

}